@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}

.primary-font {
    font-family: "Roboto", serif;
}
.default-width {
    max-width: 1280px;
    margin: 0 auto;
}
.default-bg {
    background-color: #1f2937;
}

.header {
    background: #1f2937;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    padding: 0 20px;
}
.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.banner-container {
    display: flex;
    color: white;
    margin-top: 100px;
    gap: 50px;
    padding-bottom: 100px;
}

.banner-text-content {
    width: 40%;
}
.banner-text-content h1 {
    font-size: 48px;
    font-weight: 900;
}
.banner-text-content p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 10px;
}
.banner-text-content button {
    background-color: #3b82f6;
    padding: 12px 24px;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}
.banner-image {
    background: #6d747d;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.cards-section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    width: 25%;
    height: 250px;
    border: 5px solid #3b82f6;
    border-radius: 24px;
}

.card-text {
    margin-top: 10px;
    color: #6d747d;
    font-weight: 700;
    text-align: center;
    width: 25%;
}

.quote-container {
    background: #e5e7eb;
    padding: 100px 0;
    margin-bottom: 100px;
}
.quote {
    width: 50%;
}
.quote p:first-child {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;
}

.quote p:nth-child(2) {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
